<a href="https://colab.research.google.com/github/AlirezaZarrinmehr/IST-707-Kaggle-Digit-Recognizer/blob/main/Modifying%20Columns%20%26%20Lables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy
import pandas as pd
df = pd.read_csv('/content/Result.csv')
df = df.drop([0,1])
df = df.reset_index()
df.index = df.index + 1
df = df.reset_index()
df = df.iloc[:,[0,2]]
#df = df.set_axis(['ImageId','Label'], axis=1, inplace=False)
df.columns = ['ImageId','Label']
df = pd.DataFrame(df)
df = df.apply(pd.to_numeric)
df['Label'] = df['Label'].astype('int')
df

       ImageId  Label
0            1      2
1            2      0
2            3      9
3            4      9
4            5      2
...        ...    ...
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]

In [ ]:

df.to_csv('/content/Result1.csv', index=False)

SyntaxError: ignored